body {
  text-align: center;
}
.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

#picContainer, #displayBox{
  width: 50%;
}

img {
  max-height: 100%;
  max-width: 100%;
}

#counterContainer, #nameContainer {
  height:50px;
}
